@model CrudMind.Customer



@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center">All Customer Information</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerLastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerLastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerFirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerFirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerGender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerGender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerDob)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerDob)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerEmail)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Addresses)
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>City </th>
                    <th>Street</th>
                </tr>
                @foreach (var item in Model.Addresses)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.City)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Street)
                        </td>
                    </tr>
                }
            </table>
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CustomerId" class="btn btn-success">Edit</a> 
    <a asp-action="Index" class="btn btn-outline-primary">Back to List</a>
</div>

